<p>welcome works!</p>
<div class="container bg-light py=5">
<h1 class="display-5 fw-bold">Welcome to Quiz app</h1>
<p class="col-md-8 fs-4">This Quiz will contain 09 questions</p>
<h1>Rules:</h1>
<ol>
    <li>Correct Questions gives you 10 points.</li>
    <li>Incorrect Questions gives you -10 points.</li>
    <li>Each Question will have 30 seconds to answer.</li>
    <li>Do not refresh page.</li>
</ol>
<h1 style ="font-family:cursive"> All the Best</h1>
<div class="name col-md-4 my-3">
<label for="">Enter your name:</label>
<input #name type="text" class="form-control">
</div>
<button class="btn btn-primary btn-lg" routerLink="/questions" (click)="startQuiz()">Start the Quiz!!</button>
</div>
